/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 150px;
    background: linear-gradient(to bottom right, #e6f3ff, #7590aa);
    background-attachment: fixed;
    min-height: 100vh;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8)); /* Gradient background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Slightly deeper shadow */
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 20px;
    font-size: 24px;
    color: #2c3e50; /* Darker color for better contrast */
    transition: color 0.3s ease; /* Transition for color change */
}

header h1:hover {
    color: #3498db; /* Change color on hover */
}

/* Header styles for h1, h2, h3, h4 */
h1 {
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #2c3e50;
    font-size: 1.8em;
    padding-bottom: 10px;
    border-bottom: 2px solid #3498db;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    color: #34495e;
    font-size: 1.3em;
    margin-top: 20px;
}

h4 {
    color: #2c3e50;
    font-size: 1.1em;
    margin-top: 15px;
}

.separator {
    height: 1px; 
    max-height: 0.1px;
    background-color: #3498db; 
    margin: 20px 10%;
    width: 80%;
} 

/* Nav styles */
nav {
    display: flex; /* Change to flex to allow for transition */
    flex-direction: column; /* Change to column for hamburger */
    width: 100%;
    background: linear-gradient(to right, #f8f9fa, #e0e0e0); /* Gradient background */
    padding: 0; /* Start with no padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
    max-height: 0; /* Start with max-height of 0 */
    overflow: hidden; /* Hide overflow */
    transition: max-height 0.5s ease, padding 0.5s ease; /* Transition for opening/closing */
}

nav.active {
    border: 1px solid #3498db; /* Added border */
    max-height: 500px; /* Set a max-height for the open state */
    padding: 15px; /* Ensure padding is applied when open */
}

.nav-grid {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-grid li {
    margin-bottom: 15px; /* Increased space between items */
}

.nav-grid li a {
    text-decoration: none;
    color: #333;
    font-weight: 600; /* Increased font weight for emphasis */
    transition: color 0.3s ease, background-color 0.3s ease; /* Added background color transition */
    padding: 12px 15px; /* Adjusted padding for better click area */
    border-radius: 3px; /* Rounded corners for links */
}

.nav-grid li a:hover {
    color: #fff; /* Change text color on hover */
    background-color: #3498db; /* Background color on hover */
}

/* Hamburger menu styles */
.hamburger {
    display: flex; /* Show hamburger icon */
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger:hover div {
    background-color: #3498db; /* New color on hover */
}

/* Active state for hamburger */
.hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 10px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0; /* Hide the middle line */
}

.hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -10px);
}

/* Show navbar when active */
nav.active {
    display: flex; /* Show nav when hamburger is active */
}

/* Welcome Section Styles */
.welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-content p {
    flex: 1; 
    margin-right: 20px; 
}

.welcome-image {
    max-width: 200px;
    height: auto; 
}

.welcome-image-right {
    order: 2;
}

/* Section styles */
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* List styles */
ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Link styles */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Personal project styles */
.personal-project {
    border: 1px solid #3498db; /* Blue border */
    padding: 20px; /* Space inside the box */
    margin: 20px 0; /* Space between boxes */
    border-radius: 10px; /* Rounded corners */
    background-color: #f0f8ff; /* Light background color */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.personal-project:hover {
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.personal-project h4 {
    color: #2c3e50; /* Darker color for titles */
    margin-bottom: 10px; /* Space below titles */
}

.personal-project .project-content {
    display: flex; /* Flexbox for image and text */
    align-items: center; /* Center vertically */
}

.personal-project .project-content img {
    max-width: 100px; /* Limit image size */
    margin-right: 15px; /* Space between image and text */
    border-radius: 5px; /* Rounded corners for images */
}

/* Mobility project and role model styles */
.mobility-project, .role-model, .intership {
    border: 1px solid #3498db; /* Blue border */
    padding: 20px; /* Space inside the box */
    margin: 20px 0; /* Space between boxes */
    border-radius: 10px; /* Rounded corners */
    background-color: #f0f8ff; /* Light background color */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.mobility-project:hover, .role-model:hover, .intership:hover {
    transform: translateY(-5px); /* Lift effect */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.mobility-project h4, .role-model h4, .intership h4 {
    color: #2c3e50; /* Darker color for titles */
    margin-bottom: 10px; /* Space below titles */
}

/* Project content styles */
.project-content {
    display: flex; /* Flexbox for image and text */
    align-items: center; /* Center vertically */
}

.project-content img {
    max-width: 100px; /* Limit image size */
    margin-right: 15px; /* Space between image and text */
    border-radius: 5px; /* Rounded corners for images */
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Button color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
    margin-top: 10px; /* Space above buttons */
}

.button:hover {
    background-color: #2980b9; /* Darker button color on hover */
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Video styles */
video {
    max-width: 100%;
    height: auto;
}

.video-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    margin: 20px 0; /* Add some margin for spacing */
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Animate click styles */
.animate-click:active {
    transform: scale(0.95);
}

/* Scroll to top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

#scroll-to-top:hover {
    background-color: #555;
}

/* Responsiveness */
@media (max-width: 768px) {
    body {
        padding: 10px;
        padding-top: 80px;
    }
    
    .header-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        flex-direction: column;
        width: 100%;
        background-color: #f8f9fa; /* New background color for mobile */
        padding: 15px; /* Increased padding for better spacing */
        border: 1px solid #3498db; /* Added border */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Added shadow for depth */
        display: none; /* Hide nav by default */
    }

    .nav-grid {
        flex-direction: column;
        width: 100%;
    }

    .nav-grid li {
        margin-bottom: 15px; /* Increased space between items */
    }

    section {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    .project-content {
        flex-direction: column;
    }

    .company-logo {
        max-width: 80px;
        margin-bottom: 10px;
    }
}