/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ccc;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 150px;
    background: linear-gradient(to bottom, #001f3f, #0074d9); /* Updated background */
    z-index: -1; 
    background-attachment: fixed;
    min-height: 100vh;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(200, 200, 200, 0.1)); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 20px;
    font-size: 24px;
    color: #ccc; 
    text-shadow: 2px 2px 2px #111111; 
    transition: color 0.3s ease; 
}

header h1:hover {
    color: #3498db; 
}

/* Header styles for h1, h2, h3, h4 */
h1 {
    color: #e5bd70;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #e5bd70;
    font-size: 1.8em;
    padding-bottom: 10px;
    border-bottom: 2px solid #2980b9;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    color: #d3c9af;
    font-size: 1.3em;
    margin-top: 20px;
}

h4 {
    color: #e5bd70;
    font-size: 1.1em;
    margin-top: 15px;
}

.separator {
    height: 1px; 
    max-height: 0.1px;
    background-color: #3498db; 
    margin: 20px 10%;
    width: 80%;
} 

/* Nav styles */
nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(200, 200, 200, 0.1));
    padding: 0; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease; 
}

nav.active {
    border: 1px solid #3498db; 
    max-height: 500px; 
    padding: 15px; 
}

.nav-grid {
    display: flex;
    flex-direction: column; 
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav-grid li {
    margin-bottom: 15px;
}

.nav-grid li a {
    text-decoration: none;
    color: #d9cccc;
    font-weight: 600; 
    transition: color 0.3s ease, background-color 0.3s ease; 
    padding: 12px 15px; 
    border-radius: 3px; 
}

.nav-grid li a:hover {
    color: #fff; 
    background-color: #3498db;
}

/* Hamburger menu styles */
.hamburger {
    display: flex; 
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #ccc;
    margin: 4px 0;
    transition: 0.4s;
    box-shadow: 2px 2px 2px #232323; 
}

.hamburger:hover div {
    background-color: #3498db; 
}

/* Active state for hamburger */
.hamburger.active div:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 10px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0; 
}

.hamburger.active div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -10px);
}

/* Show navbar when active */
nav.active {
    display: flex; 
}

/* Welcome Section Styles */
.welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.welcome-content p {
    flex: 1; 
    margin-right: 20px; 
}

.welcome-image {
    max-width: 200px;
    height: auto; 
}

.welcome-image-right {
    order: 2;
}

/* Section styles */
section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(36, 21, 71, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* List styles */
ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Link styles */
a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Personal project styles */
.personal-project {
    border: 1px solid #2980b9;
    padding: 20px;
    margin: 20px 0; 
    border-radius: 10px; 
    background-color: #041e37;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.personal-project:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.personal-project h4 {
    color: #98a0a8; 
    margin-bottom: 10px; 
}

.personal-project .project-content {
    display: flex; 
    align-items: center;
}

.personal-project .project-content img {
    max-width: 100px; 
    margin-right: 15px;
    border-radius: 5px;
}

/* Mobility project and role model styles */
.mobility-project, .role-model, .intership {
    border: 1px solid #2980b9; 
    padding: 20px; 
    margin: 20px 0; 
    border-radius: 10px; 
    background-color: #041e37; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; 
}

.mobility-project:hover, .role-model:hover, .intership:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.mobility-project h4, .role-model h4, .intership h4 {
    color: #7c8186;
    margin-bottom: 10px; 
}

/* Project content styles */
.project-content {
    display: flex; 
    align-items: center; 
}

.project-content img {
    max-width: 100px; 
    margin-right: 15px; 
    border-radius: 5px; 
}

/* Button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2980b9; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
    margin-top: 10px; 
}

.button:hover {
    background-color: #2980b9; 
    transform: scale(1.05); 
}

/* Video styles */
video {
    max-width: 100%;
    height: auto;
}

.video-container {
    display: flex; 
    justify-content: center;
    margin: 20px 0; 
}

/* Button container styles */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Animate click styles */
.animate-click:active {
    transform: scale(0.95);
}

/* Scroll to top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 1000;
}

#scroll-to-top:hover {
    background-color: #555;
}

/* Responsiveness */
@media (max-width: 768px) {
    body {
        padding: 10px;
        padding-top: 80px;
    }
    
    .header-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        flex-direction: column;
        width: 100%;
        background-color: #f8f9fa; 
        padding: 15px; 
        border: 1px solid #3498db;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        display: none; 
    }

    .nav-grid {
        flex-direction: column;
        width: 100%;
    }

    .nav-grid li {
        margin-bottom: 15px;
    }

    section {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }

    .project-content {
        flex-direction: column;
    }

    .company-logo {
        max-width: 80px;
        margin-bottom: 10px;
    }

    .welcome-content {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }
}